<script type="text/javascript" src="/scripts/ext_libs/require.js" data-main="/scripts/config"></script>

<div id="mainMenu">
  <% include home/mainMenu %>
</div>

<div id="educatorView">
  <% include home/educatorView %>
</div>

<div id="container">
  <% include home/container.ejs %>
</div>