<!DOCTYPE html>
<html>
  <head>
    <title>Serious Game</title>

    <link type="text/css" rel="stylesheet" href="/application/css/image-picker.css">
    <link type="text/css" rel="stylesheet" href="/application/css/main.css">

    <script type="text/javascript" src="/scripts/ext_libs/jquery.js"></script>
    <script type="text/javascript" src="/scripts/ext_libs/image-picker.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/scripts/ext_libs/require.js" data-main="/scripts/config"></script>
  </head>

  <body>
    <div id="user">
      <% include structure/header %>
    </div>

    <ul id="top_menu">
      <% include structure/top_menu %>
    </ul>
    
    <div id="main">
      <%
        if (page == "login"){
          %><% include page/login %><%
        } 
        else if (page == "create_game"){
          %><% include page/create_game %><%
        } 
        else if (page == "welcome"){
          %><% include page/welcome %><%
        }
        else if (page == "my_game"){
          %><% include page/my_game %><%
        }
        else if (page == "game"){
          %><% include page/game %><%
        }
        else if (page == "my_images"){
          %><% include page/my_images %><%
        }
        else if (page == "game_edit"){
          %><% include page/game_edit %><%
        }
        else if (page == "does_not_exist"){
          %><% include page/does_not_exist %><%
        }
        else{
          %><% include page/welcome %><%
        }
      %>
    </div>

    <div style="height : 100px; width : 100%">
    </div>

    <footer>
      <% include structure/footer %>
    </footer>


    <script>
      window.userName = "<%- userName %>";
    </script>
  </body>
</html>