<h2></h2>
<h3></h3>
<div class="images"></div>
<a href="info">play !</a>
<ul class="players"></ul>
<button class="delete">Delete !</button>

<form class="gameCreation" id="gameUpdate" class="gameOptions">
  <h1>Create a custom game !</h1>
  Question : 
  <input class="question"><br>
  Bonus image : 
  <select class="bonusImg" multiple="multiple">
    
  </select><br>
  Malus image : 
  <select class="malusImg"  multiple="multiple"></select><br>
  
  <div hidden>
    Game Model : 
    <select class="modelList"></select>
    <div class="modelDescription">Model description.</div>
  </div>        
  <div class="modelParams"></div>
  <input type="submit" value="Create !">
</form>