<div id="blocLeft">
  <div id="blocUser"></div>
  <div id="imageUploader">
    <p>Utilisez vos images:</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="uploadedImage"/>
      <input type="submit"/>
    </form>
  </div>
  
  <div id="gameSessions" class="gameOptions">
    <h1>Play an existant game !</h1>
    <ul>
      
    </ul>
  </div>
  
</div>

<form class="gameCreation" id="gameCreation" class="gameOptions">
  <h1>Create a custom game !</h1>
  Question : 
  <input class="question"><br>
  Bonus image : 
  <select class="bonusImg" multiple="multiple">
    
  </select><br>
  Malus image : 
  <select class="malusImg"  multiple="multiple"></select><br>

  Game Model : 
  <select class="modelList"></select>

  <div class="modelDescription">Model description.</div>
  <div class="modelParams"></div>
  <input type="submit" value="Create !">
</form>