Copyright 2014-2015 - Learning Engine
<div id="changeColor">Change Color Theme -
	<button id="rouge" class="btnThemes">Rouge !</button>
	<button id="jaune" class="btnThemes">Jaune !</button>
	<button id="violet" class="btnThemes">Violet !</button>
	<button id="bleu" class="btnThemes">Bleu !</button>
</div>