
<li class="onLeft"> <a href="/games/create">	Créer un jeu 	</a></li>
<li class="onLeft"> <a href="/games">		Mes jeux		</a></li>
<li class="onLeft"> <a href="/my_images">	Mes images 		</a></li>
<li class="onRight"><a href="/logout">		Déconnexion		</a></li>
