
<li class="onLeft"> <a href="/create_game">	Créer un jeu 	</a></li>
<li class="onLeft"> <a href="/my_game">		Mes jeux		</a></li>
<li class="onLeft"> <a href="/my_images">	Mes images 		</a></li>
<li class="onRight"><a href="/logout">		Déconnexion		</a></li>
