<link rel="stylesheet" type="text/css" href="/application/css/create_game.css">

<div id="create_game">
  <h2>Créateur de jeux</h2>
  <form class="createGame" method="post">

    <span class="form_text">
       Choisissez votre question :
    </span>
    <input class="question" name="question"> <br />


    <span class="form_text">
       Choisissez les images bonus :
    </span> <br />
    <select class="bonusImg imageDisplayer" name="bonus" multiple="multiple">
      <% addOptionImage() %>
    </select><br />
    <span class="form_text">
       Choisissez les images malus :
    </span> <br />
    <select class="malusImg imageDisplayer" name="malus"  multiple="multiple">
      <% addOptionImage() %>
    </select><br>
    

      Choisissez un model de jeux : 
      <select class="modelList" name="game">
        <%
          for (var i = spec.gameList.length - 1; i >= 0; i--) {
            %> <option value="<%=spec.gameList[i].id%>"> <%=spec.gameList[i].name%> </option><%
          };
        %>
      </select>
      <div class="modelDescription"></div>
    <input type="submit" value="Créer !">

  </form>
</div>

<br />
<br />
<br />
<br />

<script>
  $(".bonusImg").imagepicker();
  $(".malusImg").imagepicker();
</script>

<% 

  function addOptionImage(){
    writeOptionsOf(spec.userImagesList);
    writeOptionsOf(spec.imagesList);
  }
  function writeOptionsOf(tabImages){
      for (var i = tabImages.length - 1; i >= 0; i--) {
      %>
        <option data-img-src="<%=tabImages[i]%>" value="<%=tabImages[i]%>"></option>
      <%
    };
  }
%>
  
