
<h2>Créateur de jeux</h2>
<form class="createGame" method="post">

  <span class="form_text">
     Choisissez votre question :
  </span> <br />
  <input class="question" name="question"> <br />


  <span class="form_text">
     Choisissez les images bonus :
  </span> <br />
  <select class="bonusImg" name="bonus" multiple="multiple">
    <% addOptionImage() %>
  </select><br>


  <span class="form_text">
     Choisissez les images malus :
  </span> <br />
  <select class="malusImg" name="malus"  multiple="multiple">
    <% addOptionImage() %>
  </select><br>
  

    Choisissez un model de jeux : 
    <select class="modelList" name="game">
      <%
        for (var i = spec.gameList.length - 1; i >= 0; i--) {
          %> <option value="<%=spec.gameList[i].id%>"> <%=spec.gameList[i].name%> </option><%
        };
      %>
    </select>
    <div class="modelDescription"></div>
  <input type="submit" value="Créer !">

</form>
<br />
<br />
<br />
<br />

<script>
  $(".bonusImg").imagepicker();
  $(".malusImg").imagepicker();
</script>

<% 
  console.log(spec.gameList[0]);
    

  function addOptionImage(){
    for (var i = spec.imagesList.length - 1; i >= 0; i--) {
      %>
        spec.imagesList[i]
        <option data-img-src="<%=spec.imagesList[i]%>" value="<%=spec.imagesList[i]%>"></option>
      <%
    };
  }
%>
  
