
ul.thumbnails.image_picker_selector{
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; 
  float : left;
}
  ul.thumbnails.image_picker_selector li{
    float : left;
    width : 120px;
    height : 120px;
    display : block;
    margin : 6px;
    border : 1px solid red;
  }
    .thumbnail{
      width : 100%;
      height : 100%;
      display: inline-block;
      vertical-align: middle;
    }
    .thumbnail.selected img{
      border : 3px solid blue;
      margin-left: -3px;
      margin-top: -3px;
    }
      ul.thumbnails.image_picker_selector img{ 
        -webkit-user-drag: none; 
        max-width: 100%;
        max-height : 100%;
        vertical-align: middle;
      }
