
#my_images_list{

}
#my_images_list img{
	max-width: 150px;
	max-height: 150px;
}
#my_images_list .img_container{
	width: 180px;
	height: 180px;
	display : inline-block;
	float : left;
}
.delete_button{
	text-align: center;
	bottom : 0px;
}
